.search-results {
	table,
	td {
		border: 1px solid black;
		min-width: 100px;
	}

	p {
		margin: 0;
	}

	.rating-impacts {
		display: inline-block;
	}

	.current-search {
		background: yellow;
	}

	.yelp,
	.google {
		display: inline-block;
		width: 49%;
	}
}

